root = true

[*]
end_of_line = lf

# .NET formatting rules.  See https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/formatting-rules
# Resharper Rules. See https://www.jetbrains.com/help/resharper/EditorConfig_Index.html
[*.cs]
indent_style = space
indent_size = 4

# -----  Resharper Rules ----- 
# https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpIndentStylePageSchema.html#resharper_csharp_align_linq_query
align_linq_query = true
align_multiline_calls_chain = true
# Won't force add blank lines after block statements
blank_lines_after_block_statements = 0
csharp_prefer_braces = true
csharp_space_after_cast = false
indent_preprocessor_region = do_not_change
space_between_attribute_sections = false


# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none
# CA1008: Enums should have zero value - The enums in this case are modeling Steam enums.
dotnet_diagnostic.CA1008.severity = none
# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none
# CA1031: Modify (method) to catch a more specific allowed exception type, or rethrow the exception
dotnet_diagnostic.CA1031.severity = none
# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none
# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none
# CA1054: URI parameters should not be strings
dotnet_diagnostic.CA1054.severity = none
# CA1056: URI properties should not be strings
dotnet_diagnostic.CA1056.severity = none
# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
# CA1305: The behavior of 'int.Parse(string)' could vary based on the current user's locale settings.
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1310.severity = none
# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = none
# CA1822: Member does not access instance data and can be marked as static
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1835.severity = none
# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously 
dotnet_diagnostic.cs1998.severity = error
# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.cs4014.severity = error

# IDE0090 : 'new' expression can be simplified
csharp_style_implicit_object_creation_when_type_is_apparent = false

# The method does not need to use async/await - Introduces annoying 'return' statements for async methods, that hurt code readability.
dotnet_diagnostic.AsyncFixer01.severity = none