p {
    font-size: 18px !important;
}

/* Increases content width */
.wy-nav-content {
    max-width: 70% !important;
}

/* Makes long text in a table wrap around */
.wy-table-responsive table td {
    white-space: normal !important;
}

/* Increases font size on tables to a readable size */
.rst-content table.docutils td, .rst-content table.docutils th {
    font-size: 100% !important;
}

/* Code block font is too small by default */
code {
    font-size: 14px !important; 
}
