.hljs {
    min-height: 3em;
    position: relative;
}

.clipboardContainer {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 1;
    display: inline-block;
}

.btn-clipboard, .btn-clipboard:active {
    display: block;
    padding: .25rem .5rem;
}